* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
distro/INSTALL -text
distro/LICENSE -text
distro/MAINTAINERS -text
distro/README -text
distro/changelog.xml -text
distro/descriptor.xml -text
distro/profile.xml -text
distro/svnpath.txt -text
/pom.xml -text
src/main/java/org/gcube/accounting/analytics/Filter.java -text
src/main/java/org/gcube/accounting/analytics/Info.java -text
src/main/java/org/gcube/accounting/analytics/NumberedFilter.java -text
src/main/java/org/gcube/accounting/analytics/TemporalConstraint.java -text
src/main/java/org/gcube/accounting/analytics/exception/DuplicatedKeyFilterException.java -text
src/main/java/org/gcube/accounting/analytics/exception/KeyException.java -text
src/main/java/org/gcube/accounting/analytics/exception/NoAvailableScopeException.java -text
src/main/java/org/gcube/accounting/analytics/exception/NoUsableAccountingPersistenceQueryFound.java -text
src/main/java/org/gcube/accounting/analytics/exception/ValueException.java -text
src/main/java/org/gcube/accounting/analytics/persistence/AccountingPersistenceBackendQuery.java -text
src/main/java/org/gcube/accounting/analytics/persistence/AccountingPersistenceBackendQueryConfiguration.java -text
src/main/java/org/gcube/accounting/analytics/persistence/AccountingPersistenceBackendQueryFactory.java -text
src/main/java/org/gcube/accounting/analytics/persistence/AccountingPersistenceQuery.java -text
src/main/java/org/gcube/accounting/analytics/persistence/AccountingPersistenceQueryFactory.java -text
src/test/java/org/gcube/accounting/analytics/TemporalConstraintTest.java -text
src/test/resources/logback-test.xml -text
